

body
   {
         background-color:#FAFAFA;
    }
    .main{
    width: 618px;
    height: 760px;
    background-color:#FAFAFA;
    margin: 132px auto 0 auto;
    text-align: center;
    border: 1px solid #979797;
    border-radius: 35px;
    padding-bottom: 20px;
    }

   input[type="text"],input[type="password"]{
    width: 456px;
    height: 18px;
    font-size: 14px;
    margin-bottom: 56px;
    border-radius: 0px;
    padding-bottom: 32px;
    padding-left: 9px;
    padding-top: 13px;
    border: 1px solid #979797;
   }
   
   .dws-submit {
    width: 465px;
    height: 62px;
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 24px;
    background-color: #CEFFE2;
    background: linear-gradient(135deg, #CEFFE2, #FAFAFA);
    box-shadow: 0 12px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: none;
    cursor: pointer;
   }




   
   