{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AlphaHealth Home</title>
</head>
<body>

    <h1>Welcome To ApointmentApp</h1>

    <br/>
    <br/>

    <h3>Who are you?</h3>

    <form action="/PatientLogin" method="get">
        <button type = "submit" value="Submit">Patient</button>
    </form>

    <br/>

    <form action="/DoctorView" method="get">
        <button type = "submit" value="Submit">Doctor</button>
    </form>

</body>
</html>