{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AlphaHealth Home</title>
</head>
<body>

    <h1>Welcome To ApointmentApp</h1>

    <br/>
    <br/>

    <h3>Options</h3>

    <form action="/PatientLogin" method="get">
        <button type = "submit" value="Submit">PatientLogin</button>
    </form> <br/>

    <form action="/CreatePatient" method="get">
        <button type = "submit" value="Submit">CreatePatient</button>
    </form> <br/>
    <form action="/CreateAppointment" method="get">
        <button type = "submit" value="Submit">CreateAppointment</button>
    </form> <br/>
    <form action="/DoctorRegistration" method="get">
        <button type = "submit" value="Submit">DoctorRegistration</button>
    </form> <br/>
    <form action="/ShowPatientInfo" method="get">
        <button type = "submit" value="Submit">ShowPatientInfo</button>
    </form> <br/>

    <br/>


</body>
</html>